.customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  margin: auto;
}

.customers td,
.customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

.customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

.customers tr:hover {
  background-color: #ddd;
}

.customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #04aa6d;
  color: white;
}

.editBtn {
  background-color: lightgreen;
  border: none;
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
}

.deleteBtn {
  background-color: rgb(235, 56, 56);
  border: none;
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
}

.editBtn:hover {
  background-color: green;
}

.deleteBtn:hover {
  background-color: red;
}
